{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-2"> 
<fieldset>
    {{form_start(formulaire)}}
            <legend>Ajouter un film</legend>
            {{form_row(formulaire.titre)}}
            {{form_row(formulaire.genre)}}
            {{form_row(formulaire.sortie)}}
            {{form_row(formulaire.synopsis)}}
    {{form_end(formulaire)}}
</fieldset>


</div>

{% endblock %}